button, #projectname{
  outline: 0;
  border: 0;
  background: none;
  font: inherit;
  /* cursor: pointer; */
}
#projectname{
  font-size: 2rem;
  field-sizing: content;
  min-width: 50px;
}
#toolbar{
  justify-content: space-between;
  box-shadow: 0 -3px 5px hsl(0, 0%, 99%),
  0 3px 5px grey;
  gap: .5em;
  padding: .5em 0;
}
#editcanvas{
  display: none;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
  padding: 1em;
  box-shadow: -5px 5px 5px grey inset, 
  5px -5px 5px white inset;
}
#editcanvas.visible{
  display: flex;
}
#canvas{
  background: red;
  height: 100px;
  width: 100px;
  margin: auto;
  align-self: center;
  box-shadow: -5px -5px 6px hsl(0, 0%, 99%) inset,
  5px 5px 6px grey inset;
  border: 2px solid red;
}
button:active{
  color: green;
}
#menubar{
  gap: .5em;
  justify-content: space-between;
  overflow: hidden;
  padding: 1em .5em;
  box-shadow: 0 -3px 5px hsl(0, 0%, 99%),
  0 3px 5px grey inset;
  position: relative;
}
.menuItem{
  display: none;
}
.menuItem.active-tab{
  display: flex;
  width: 90%;
  justify-content: space-between;
  overflow: auto;
  gap: 1em;
}
#instructions{
  width: 80%;
  height: 80%;
  margin: auto;
  overflow: auto;
  scroll-snap-type: x mandatory;
  gap: 3px;
}
.close{
  position: absolute;
  right: 3%;
  top: 0;
}
.instruction{
  height: 100%;
  min-width: 100%;
  scroll-snap-align: center;
  background: red;
  position: relative;
}
#confirm{
  margin: 50% auto;
  height: 20;
  padding: 1rem;
}