#toolbar, #editCanvas{
  justify-content: space-between;
  padding: .5em;
  width: 100%;
}
.tool, input{
  border: 0;
  outline: 0;
  background: none;
}
#toolbar, #menubar{
    box-shadow: 0 0 2px red;
}